body{

font-family:Arial;
background:#f4f4f4;

display:flex;

justify-content:center;

padding:30px;

transition:.3s;

}

.dark{

background:#222;
color:white;

}

.container{

width:650px;

background:white;

padding:20px;

border-radius:10px;

box-shadow:0 0 10px gray;

}

.dark .container{

background:#333;

}

input,select,button{

padding:10px;

margin:5px;

}

ul{

padding:0;

}

li{

list-style:none;

background:#eee;

margin:10px 0;

padding:12px;

display:flex;

justify-content:space-between;

align-items:center;

border-radius:8px;

}

.completed{

text-decoration:line-through;

opacity:.5;

}

.high{

border-left:8px solid red;

}

.medium{

border-left:8px solid orange;

}

.low{

border-left:8px solid green;

}

button{

cursor:pointer;

}